git+https://git@github.com/facebookresearch/audiocraft#egg=audiocraft
git+https://github.com/korakoe/VALL-E-X#egg=vall_e_x
tortoise-tts @ https://github.com/rsxdalv/tortoise-tts/releases/download/v3.0.1/tortoise_tts-3.0.1-py3-none-any.whl
voicefixer
deepspeed
resampy